textarea {
    min-height: 400px;
}

.email {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
  }
  
  .email .sender {
    font-weight: bold;
  }
  
  .email .subject {
    color: #007bff;
  }
  
  .email .body {
    margin-top: 5px;
  }

  .read {
    background-color: #f9f9f9;
  }

    .unread {
    background-color: gray;
  }
  
  .email-details {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
  }
  
  .email-subject {
    color: #333;
    font-size: 18px;
    margin-top: 0;
  }
  
  .email-info {
    margin: 5px 0;
  }
  
  .email-info-label {
    font-weight: bold;
  }
  
  .email-body {
    white-space: pre-wrap;
  }

  #no-messages {
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 20px;
    border: 2px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
}